{% extends "base.html" %}
{% block content %}
{% block content_title %}

        <h2>Internal Links</h2>

        {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a>. 
        {% endfor %}

        {% if DISPLAY_PAGES_ON_MENU %}
	<p>Pages:
          {% for p in pages %}
            <a href="{{ SITEURL }}/{{ p.url }}" {% if p==page %} aria-current="page" {% endif %}>{{ p.title }}</a>. &nbsp; 
          {% endfor %}
        </p>
        {% endif %}

        {% if DISPLAY_CATEGORIES_ON_MENU %}
	<p>Categories: 
	{% for cat, null in categories %}
        <a href="{{ SITEURL }}/{{ cat.url }}" {% if cat==category %} aria-current="page" {% endif %}>{{ cat}}</a>. &nbsp; 
        {% endfor %}
        </p>

<p>Tags:
    {% for tag, articles in tags|sort %}
     <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }}). &nbsp;
    {% endfor %}
     
       {% endif %}

        <h2>External Links</h2>
          <ul>
                <li><a href="https://hackerspace.au/@sen">Mastodon</a> - Mostly me sharing photos of tinkering</li>
                <li><a href="https://ballarathackerspace.org.au/">Ballarat Hackerspace</a> - Home away from home</li>
                <li><a href="https://github.com/senwerks/">Github</a>  - Code related to my projects</li>
                <li><a href="https://www.printables.com/@SenWerks_1654">Printables</a> - My designs for 3D printable objects</li>
        </ul>

	<hr>


<h2>Weblog Posts</h2>
{% endblock %}


{% for article in articles_page.object_list %}
	<h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
        <p>{{ article.summary }}</p>
        <p>Published: <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time></p>
	<p> &nbsp; </p>
	{% endfor %}

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}

{% endblock content %}
